# Práctica 7

## Extracción de los datos de deuda publica en la CDMX

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [15]:
ruta_csv = r'C:\Users\ACER\Documents\Edgar\URC\PCD\deuda_publica_2023_04.csv'

data_df = pd.read_csv(ruta_csv, encoding='latin1')

## Visualización de información general (info y tail)

In [19]:
registros = data_df.shape[0]
print(registros)

983

In [20]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   anio                         983 non-null    int64
 1   trimestre                    983 non-null    object
 2   mes                          983 non-null    object
 3   no_registro                  983 non-null    object
 4   tipo_deuda                   983 non-null    object
 5   detalle_tipo_deuda           983 non-null    object
 6   acreedor                     983 non-null    object
 7   concepto                     983 non-null    object
 8   inicio_credito               934 non-null    object
 9   fin_credito                  934 non-null    object
 10  dias_contrato                983 non-null    int64
 11  dias_restantes_contrato      983 non-null    int64
 12  disposicion_inicial_credito  983 non-null    float64
 13  colocacion_periodo           983 non-null    float64
 14  amortizaciones_periodo       964 non-null    float64
 15  intereses_periodo            983 non-null    float64
 16  pago_servicio_deuda          980 non-null    float64
 17  saldo_periodo                983 non-null    float64
 18  endeudamiento_periodo        983 non-null    float64
 19  tasa                         983 non-null    object
 20  sobretasa                    525 non-null    object
 21  tasa_final                   966 non-null    object
dtypes: float64(7), int64(3), object(12)
memory usage: 169.1+ KB

In [21]:
data_df.tail()

,anio,trimestre,mes,no_registro,tipo_deuda,detalle_tipo_deuda,acreedor,concepto,inicio_credito,fin_credito,...,disposicion_inicial_credito,colocacion_periodo,amortizaciones_periodo,intereses_periodo,pago_servicio_deuda,saldo_periodo,endeudamiento_periodo,tasa,sobretasa,tasa_final
978,2023,Cuarto Trimestre,Diciembre,P09-1118104,Largo Plazo,Mercado de Capitales,CI BANCO,BONO GCDMXCB 18V,2018-11-21,2028-11-08,...,1.100000e+09,0.000000e+00,0.0,55221833.33,55221833.33,1.100000e+09,0.000000e+00,9.93,NaN,9.93
979,2023,Cuarto Trimestre,Diciembre,P09-1223078,Largo Plazo,Banca Comercial,SANTANDER,"SANTANDER 2,169",2023-12-15,2033-12-14,...,2.169946e+09,2.169946e+09,0.0,0.00,0.00,2.169946e+09,2.169946e+09,9.1999999999999993,NaN,9.1999999999999993
980,2023,Cuarto Trimestre,Diciembre,P09-1223079,Largo Plazo,Banca de Desarrollo,BANOBRAS,"BANOBRAS 2,500 23-1",2023-12-15,2043-12-15,...,2.500000e+09,2.500000e+09,0.0,0.00,0.00,2.500000e+09,2.500000e+09,8.83,NaN,8.83
981,2023,Cuarto Trimestre,Diciembre,P09-1223080,Largo Plazo,Banca de Desarrollo,BANOBRAS,"BANOBRAS 2,500 23-2",2023-12-15,2043-12-15,...,2.500000e+09,2.500000e+09,0.0,0.00,0.00,2.500000e+09,2.500000e+09,8.93,NaN,8.93
982,2023,Cuarto Trimestre,Diciembre,P09-1223081,Largo Plazo,Banca de Desarrollo,BANOBRAS,"BANOBRAS 5,276",2023-12-15,2043-12-15,...,4.974579e+09,4.974579e+09,0.0,0.00,0.00,4.974579e+09,4.974579e+09,TIIE Fondeo,0.44,TIIE Fondeo+0.44

## Rango de fechas

In [30]:
data_df['inicio_credito'] = pd.to_datetime(data_df['inicio_credito'], format="%Y/%m/%d")
fecha_i = data_df['inicio_credito'].min()
fecha_f = data_df['inicio_credito'].max()

In [35]:
print(f"El rango de fechas va desde {fecha_i} hasta {fecha_f}")

El rango de fechas va desde 2007-08-30 00:00:00 hasta 2023-12-15 00:00:00

## Calculo de media y moda de montos iniciales de crédito y banco acreedor

In [37]:
data_df['disposicion_inicial_credito'] = data_df['disposicion_inicial_credito'].astype(float)
pd.options.display.float_format = '{:.2f}'.format

In [40]:
media = data_df['disposicion_inicial_credito'].mean()
print(f"El promedio de disposición por crédito es de {media}")

El promedio de disposición por crédito es de 2378323279.5784636

In [42]:
moda = data_df['acreedor'].mode()
print(f"El Banco acreedor de la deuda más presente es: {moda}")

El Banco acreedor de la deuda más presente es: 0    BANOBRAS
Name: acreedor, dtype: object

In [47]:
jupyter nbconvert --to script practica_7.ipynb

SyntaxError: invalid syntax (2238935765.py, line 1)